.customFont(){
  font-family: 'Open Sans', sans-serif;
}

.lightFont(){
  font-weight: 300;
}

body{
  .customFont();
  position: relative;
}

h2{
  text-align: center;
  .lightFont;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1;
}

h3{
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

p{
  font-size: 15px;
  line-height: 1.66;
  .lightFont;
}

a,
a:focus,
a:hover,
a:active{
  outline: none;
  text-decoration: none;
}