footer{
  padding: 25px 0;
  a{
    display: inline-block;
    vertical-align: middle;
  }
  .logo{
    width: 95px;
    height: 15px;
    background: url(../../img/logo-small.svg) no-repeat;
    margin-right: 30px;
  }
  label{
    font-weight: normal;
    span{
      margin-right: 10px;
    }
  }
}