
.navmenu{
  padding: 50px 30px;
  @media (max-width: 1200px) and (min-width: 992px){
    padding: 50px 30px 30px;
  }
  width: 300px;
  height: 100%;
  bottom: 0;
  //box-sizing: border-box;
  position: fixed;
  right: -300px;
  min-height: 600px;
  top: 0;
  z-index: 2000;
  background-color: #222222;
  -webkit-transition: right .3s ease-in; /** Chrome & Safari **/
  -moz-transition: right .3s ease-in; /** Firefox **/
  transition: right .3s ease-in;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  &.show-menu{
    right:0;
    visibility: visible;
    display: block;




  }
  .navmenu-nav{
    position: static;
  }
  li{
    a{
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 1px;
      font-weight: bold;
      color: #666;
      &:hover,
      &:active,
      &:focus{
        color: white;
        background-color: transparent;
      }
    }
    &.small{
      //margin-top: 30px;
      a{
        text-transform: none;
        font-weight: normal;
        letter-spacing: 0;
      }
    }
  }
  .btn-wrap{
    margin-bottom: 30px;
    padding-left: 15px;
    .btn-default{
      .btn-default;
      border-color: #666;
      color: #666;
      display: inline-block;
      &:hover{
        border-color: white;
        color: white;
        background-color: transparent;
      }
    }
    .close{
      font-size: 24px;
      color: #666;
      opacity: 1;
      padding-top: 5px;
      padding-left: 0;
      text-shadow: none;
      &:hover{
        color: white;
      }

    }
  }
  .bottom-aligned{
    position: absolute;
    bottom: 50px;
    list-style: none;
    left: 30px;
    right: 30px;
    @media (max-width: 1200px) and (min-width: 992px){
      bottom: 30px;
    }
    .language{

      padding: 10px 15px;
      color: #999999;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .select-wrap{
        border: 1px solid #cccccc;
        border-radius: 5px;
        width: 150px;
        overflow: hidden;
        position: relative;
        margin-left: 10px;
        .caret{
          position: absolute;
          right: 10px;
          top: 20px;
          border-top-color: white;
        }
      }

      select{
        background-color: #222222;
        color: inherit;
        font-weight: normal;
        border: none;
        width: 170px;
        padding: 5px 10px;
        cursor: pointer;
        height: 40px;
      }

      &:hover{
        select{
          color: white;
        }

      }
    }
    .social{
      box-sizing: border-box;
      text-align: center;
      a{
        display: inline-block;

      }
    }
  }

  
}

.no-touch{
  .navmenu {
    .bottom-aligned {
      .language {
        .select-wrap {
          border: 1px solid #cccccc;
          border-radius: 5px;
          width: 150px;
          overflow: hidden;
          position: relative;
          margin-left: 10px;
          .caret {
            position: absolute;
            right: 10px;
            top: 20px;
            border-top-color: white;
          }
        }
        select {
          background-color: #222222;
          color: inherit;
          font-weight: normal;
          border: none;
          width: 170px;
          padding: 5px 10px;
          cursor: pointer;
          height: 40px;
        }

        &:hover {
          select {
            color: white;
          }

        }
      }
    }
  }
}

.touch{
  .bottom-aligned {
    .language {
      select {
        margin-left: 10px;
        width: auto;
        height: auto;
        background-color: white;
        color: black;
      }
    }
  }
}

#top-link-block{
  z-index: 1001;
  &.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
    right: 100px; /* padding from the left side of the window */
  }
  &.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 50px; /* height of link element */
    right: 100px; /* padding from the left side of the window */
  }
  a{
    display: block;
    width: 55px;
    height: 55px;
    background: url(../../img/top.svg) no-repeat transparent;
  }
}
