.part-4{
  background: #000;
  padding-top: @topMarginLg;
  padding-bottom: 180px;
  h2{
    color: white;
  }
  .text{
    @media (max-width: 992px){
      padding: @topMarginLg;
    }
  }
  h3{
    color: @blue;
  }
  p{
    color: white;
  }
}