.part-6{
  .blue-wrap{
    padding-top: @topMarginLg;
    background: @blue;
    padding-bottom: 260px;
    .text{
      @media (max-width: 992px){
        padding: 0 @topMarginLg;
      }
    }
    h2{
      color: white;
    }
    h3{
      color: #015d90;
    }
    p{
      color: white;
      &.highlight{
        background: #015d90;
        font-weight: bold;
        padding: 15px 30px 20px;
        margin-top: 40px;
      }
    }
  }
}
.part-6{
  .white-wrap{
    padding-top: 220px;
    .text-wrap{
      @media (max-width: 992px){
        text-align: left;
        padding: @topMarginLg/2 @topMarginLg;
      }
    }
    h3{
      margin-bottom: 30px;
      color: @blue
    }


  }
}
