.part-5{
  overflow-y: hidden;
  padding-top: @topMarginLg;
  h2{
    margin-bottom: 70px;
  }
  @media (max-width: 1200px){
    img{
      width: 100%;
    }
  }
  h3{
    color: @blue;
    @media (min-width: 992px) and (max-width: 1200px){
      margin-bottom: 30px;
    }
  }
}

.part-5{
  .tabs-wrap{
    @media (max-width: 1200px){
      padding: 0 15px @topMarginLg;
    }
    @media (max-width: 768px){
      padding-bottom: 0;
    }
  }
  .nav-tabs{
    border-bottom: none;
    margin-bottom: 45px;
    @media (min-width: 992px) and (max-width: 1200px){
      margin-bottom: 30px;
    }
    &>li{
      margin-bottom: 0;
      border-bottom: 1px solid #e3e3e3;

      &.ios{
        width: 60%;
        @media (max-width: 1200px) and (min-width: 992px){
          width: 50%;
        }
      }
      &.usb{
        width: 40%;
        @media (max-width: 1200px) and (min-width: 992px){
          width: 50%;
        }
      }


      a{
        color: #999999;
        font-weight: bold;
        font-size: 16px;
        border: none;
        padding: 0 0 20px;
        text-align: center;
        i,
        span{
          display: inline-block;
          vertical-align: middle;
        }
        i{
          font-size: 36px;
        }

      }
      &.active,
      &{
        &>a:hover,
        &>a:focus{
          border: none;
          outline: none;
          background: transparent;

        }
      }
      &.active{
        border-bottom: 3px solid @blue;
        i{
          color: @blue;
        }
        &>a,
        &>a:hover,
        &>a:focus{
          opacity: 1;
          color: black;
        }
      }
    }
  }
}

.part-5{
  .img-wrap{
    //position: relative;
    //height: 100%;
    .usb,
    .ios{
      //width: 100%;
      //position: absolute;
      //top: 0;
      //left: 0;
      //
      //&.top{
      //  z-index: 1001;
      //}
      //&.bottom{
      //  z-index: 1000;
      //}
    }
  }
}