.part-10{
  padding: 50px 0;
  background-color: #e6eced;
  label{
    font-size: 15px;
    .lightFont;
    margin-right: 30px;
  }
  .input-wrap{
    position: relative;
    display: inline-block;
  }
  input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid @blue;
    color: @blue;
    font-size: 16px;
    height: 30px;
    width: 290px;
    background-color: transparent;
  }
  button{
    background: url(../../img/button.png) no-repeat;
    border: none;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    position: absolute;
    right: 0;
    top:0;
  }
}