.part-7{
  padding-top: 180px;

  .text-wrap{
    background-color: @blue;
    padding: 50px;
    color: white;
    @media (max-width: 992px){
      margin: 0 @topMarginLg;
    }
    h2{
      text-align: left;
    }
  }
}