.part-1{
  background-color: @blue;
  .container{
    padding-top: 130px;
    padding-bottom: @topMarginLg;
    position: relative;
    overflow: hidden;
    background-image: url(../../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: 440px top;
    background-size: contain;
    @media (max-width: 1200px) and (min-width: 992px){
      background-position: 230px top;
    }
    @media (max-width: 992px) {
      background-image: none;
      padding-top: 0;
    }
    @media (max-width: 768px) {
      background: none;
    }
  }

  .text{
    @media (max-width: 992px) {
      padding: 0 @topMarginLg;
    }
    @media (max-width: 768px) {
      padding: 0;
      text-align: center;
    }
    h2{
      font-size: 64px;
      color: white;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 0;
      text-align: left;
      @media (max-width: 992px) and (min-width: 768px){
        font-size: 48px;
      }
      @media (max-width: 768px) {
        font-size: 28px;
        font-size: 9.2vw;
        text-align: center;
      }
    }
    p{
      color: white;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 40px;
    }
    .mouse-wrap{
      text-align: center;
      padding-top: 20px;
      font-size: 24px;
      color: white;
      cursor: default;
    }
    a:not(.btn){
      color: white;
      border-bottom: 1px solid white;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.affix{
  z-index: 1000;
}


#navbar-scroll{

  ul{
    border: none;
  }
  li{
    float: none;
    margin-bottom: 30px;
    a{
      padding: 0;
      display: block;
      width: 8px;
      height: 8px;
      background-color: #025e91;
      border-radius: 50em;
      opacity: .4;

    }
    &.active{
      a{
        border: none;
        opacity: 1;
      }

    }
  }
}