.part-7{
  .container{
    padding-bottom: 35px;
    background: url(../../img/bg-7.jpg) center top no-repeat;
    background-size: contain;
    @media (max-width: 1200px) and (min-width: 992px){
      padding-top: 50px;
    }
    @media (max-width: 992px){
      background: none;
      padding-bottom: 0;
      padding-top: @topMarginLg;
    }
  }
  .text-wrap{
    margin-top: 150px;
    background-color: @blue;
    padding: 50px;
    color: white;
    @media (max-width: 992px) and (min-width: 768px){
      margin: 0 @topMarginLg;
    }
    h2{
      text-align: left;
    }
  }
}