.part-6{
  .blue-wrap{
    padding-top: 80px;
    background: @blue;
    padding-bottom: 260px;
    h2{
      margin-bottom: 80px;
      color: white;
    }
    h3{
      color: #015d90;
      margin-bottom: 40px;
    }
    p{
      color: white;
      font-size: 15px;
      line-height: 25px;
      &.highlight{
        background: #015d90;
        font-weight: bold;
        padding: 15px 30px 20px;
        margin-top: 40px;
      }
    }
  }
}
.part-6{
  .white-wrap{
    padding-top: 220px;
    h3{
      margin-bottom: 30px;
    }

  }
}
