.part-4{
  background: #000;
  .container{
    padding-top: @topMarginLg;
    padding-bottom: 90px;
    background: url(../../img/bg-4.jpg) right bottom no-repeat;
    background-size: contain;
  }
  h2{
    color: white;
  }
  .text{
    @media (max-width: 992px){
      padding: @topMarginLg;
    }
  }
  h3{
    color: @blue;
  }
  p{
    color: white;
  }
}