.part-6{

  .blue-wrap{
    background: @blue;
    padding-top: @topMarginLg;
    .container{
      background: url(../../img/6/bg-6-1.png)  no-repeat @blue;
      background-position: 0 100px;
      -webkit-background-size: 100%;
      background-size: 100%;
      padding-bottom: 75px;
      @media (max-width: 1200px) and (min-width: 992px){
        padding-bottom: 50px;
      }
      @media (max-width: 992px){
        background: none;
        padding-bottom: 0;
        .img-wrap{
          padding-top: 60px;
          img{
            width: 100%;
          }
        }
      }
      .img-wrap{
        position: relative;
      }
    }
    .text{
      @media (max-width: 992px) and (min-width: 768px){
        padding: 0 @topMarginLg;
      }

    }
    h2{
      color: white;
    }
    h3{
      color: #015d90;
    }
    p{
      color: white;
      &.highlight{
        background: #015d90;
        font-weight: bold;
        padding: 15px 30px 20px;
        margin-top: 40px;
        opacity: .5;
        min-height: 85px;
        &.invisible{
          opacity: 0;
        }
      }
    }
  }
}
.part-6{
  .white-wrap{
    background: white;
    .container{
      padding-top: 200px;
      background: url(../../img/6/bg-6-2.png)  no-repeat transparent;
      -webkit-background-size: 100%;
      background-size: 100%;
      background-position: 0 0;
      @media (max-width: 1200px) and (min-width: 992px){
        padding-bottom: 50px;
        padding-top: 170px;
      }
      @media (max-width: 992px){
        background: none;
        padding-top: 0;
        .img-wrap{
          padding-bottom: 60px;
          @media (max-width: 768px){
            padding-bottom: 30px;
          }
          img{
            width: 100%;
          }
        }

      }
    }
    .small-block{
      @media (max-width: 992px) and (min-width: 768px){
        text-align: left;
        padding: @topMarginLg/2 @topMarginLg @topMarginLg/2 @topMarginLg+60px+30px;
        position: relative;
        img{
          position: absolute;
          left: @topMarginLg;
          top: @topMarginLg/2;
        }
      }
      @media (max-width: 768px){
        img{
          margin-bottom: 20px;
        }

      }

      .text-wrap{
        display: inline;
        float: left;
        @media (max-width: 768px){
          .text{
            margin-bottom: 45px;
          }
        }
      }
      h3{
        margin-bottom: 20px;
        color: black;
      }
    }



  }
}

.part-6 {
  .blue-wrap {
    .link-wrap{
      position: relative;
      a{
        //background: red;
        //opacity: .5;
        position: absolute;
        height: 45px;
        top: 15px;
        @media (max-width: 1200px) and (min-width: 992px){
          height: 40px;
        }
        @media (max-width: 992px) and (min-width: 768px){
          top:0;
        }
        @media (max-width: 768px){
          top:0;
          height: 6vw;
        }
      }
      .eth{
        left: 220px;
        width: 150px;
        @media (max-width: 1200px) and (min-width: 992px){
          left: 180px;
          width: 130px;
        }
        @media (max-width: 992px) and (min-width: 768px){
          left: 175px;
          width: 185px;
        }
        @media (max-width: 768px){
          left: 24%;
          width: 26%;
        }
      }
      .wifi{
        left: 390px;
        width: 125px;
        @media (max-width: 1200px) and (min-width: 992px){
          left: 320px;
          width: 105px;
        }
        @media (max-width: 992px) and (min-width: 768px){
          left: 385px;
          width: 140px;
        }
        @media (max-width: 768px){
          left: 53%;
          width: 21%;
        }
      }
    }
  }
}