.part-1{
  background-color: @blue;

  .container{
    padding-top: @topMarginLg;
    padding-bottom: @topMarginLg;
    position: relative;
    overflow: hidden;
    background: url(../../img/bg-1.jpg) left bottom no-repeat;
    background-size: contain;
  }
  .logo{
    margin-bottom: 110px;
    a{
      display: block;
      text-indent: -9999px;
      background: url(../../img/logo.png);
      width: 231px;
      height: 54px;
    }
  }
  .text{
    h2{
      font-size: 64px;
      color: white;
      font-weight: bold;
      margin-bottom: 30px;
      margin-top: 0;
      text-align: left;
    }
    p{
      color: white;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 40px;
    }
    .mouse-wrap{
      text-align: center;
      padding-top: 20px;
      font-size: 24px;
      color: white;
      cursor: default;
    }
    a{
      color: white;
      border-bottom: 1px solid white;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.part-1{
  .custom-navbar-toggle{
    color: white;
    font-size: 36px;
    line-height: 1;
    margin-left: 15px;
    &:hover{
      text-decoration: none;
    }

  }
}

.affix{
  z-index: 1000;
}


#navbar-scroll{
  ul{
    border: none;
  }
  li{
    float: none;
    margin-bottom: 30px;
    a{
      padding: 0;
      display: block;
      width: 8px;
      height: 8px;
      background-color: #025e91;
      border-radius: 50em;
      opacity: .4;

    }
    &.active{
      a{
        border: none;
        opacity: 1;
      }

    }
  }
}