.top-menu{
  padding-top: 30px;
  box-shadow: none;
  @media (max-width: 768px){
    padding-top: 10px;
  }
  &.navbar-fixed-top{
    background-color: transparent;
  }
  &.navbar-default{
    background: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
  .logo{
    a{
      display: block;
      text-indent: -9999px;
      background: url(../../img/logo.svg) no-repeat;
      width: 231px;
      height: 54px;
      &.alt{
        background-image: url(../../img/logo-alt.svg);
        background-size: contain;
        width: 140px;
        height: 25px;
        margin: 0 auto;
      }
    }
    @media (max-width: 768px){
      padding: 0;
    }
  }
  .custom-navbar-toggle{
    color: white;
    font-size: 36px;
    line-height: 1;
    margin-left: 15px;
    &:hover{
      text-decoration: none;
    }

  }
  &.navbar-fixed-top.sticky{
    padding: 10px 0;
    background-color: #fff;
    .logo{
      padding-top: 12px;
      a{
        text-indent: -9999px;
        width: 95px;
        height: 15px;
        background: url(../../img/logo-small.svg) no-repeat;
      }
    }
    .btn-default{
      background-color: @blue;
      color: white;
      border-color: @blue;

    }
    .custom-navbar-toggle{
      color: @blue;

    }
  }
}

